 li {
     color: red  ;
     font-weight: bold;
}

Ul li a:hover{

}

ul.nav-items {
    clear: both;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s;
}

#galería {
  display: none;
}

#galería:target {
  display: block;
}

#navigation:target .nav-items {
    background: #f0f0f0 none repeat scroll 0 0;
    height: 10em;
    transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s;
}
/*Al hacer clic sobre el enlace que abre el menú éste desaparece*/
.close {
   display:none;
}
#navigation:target .open {
      display: none;
}

/* Al hacer clic sobre el enlace que abre el menú aparece el enlace .close que previamente estaba oculto*/
#navigation:target .close {
        display: block;
}
